<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-">
                <div class="page-breadcrumb">
                    <h2>@ViewBag.Title<span>.</span></h2>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- Page Add Section End -->


